#flex {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 800px;
    border: 1px solid black;
}


.node {
    padding-left: 10px;
    padding-right:10px;
} 


