#menu {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: auto;
    border: 1px solid black;
}

#workspaceIcon {
    background-image: url('./icons/menuIcon.png');
    background-repeat:no-repeat;
    background-size: 50px 50px;
}

#valueIcon {
    background-image: url('./icons/vIcon.png');
    background-repeat:no-repeat;
    background-size: 50px 50px;
}

#functionIcon {
    background-image: url('./icons/fIcon.png');
    background-repeat:no-repeat;
    background-size: 50px 50px;
}

#customFunctionIcon {
    background-image: url('./icons/userDefinedIcon.png');
    background-repeat:no-repeat;
    background-size: 50px 50px;
}

#cursorIcon {
    background-image: url('./icons/arrowClickIcon.png');
    background-repeat:no-repeat;
    background-size: 50px 50px;
}

#undoIcon {
    background-image: url('./icons/undoIcon.png');
    background-repeat:no-repeat;
    background-size: 50px 50px;
}

#redoIcon {
    background-image: url('./icons/redoIcon.png');
    background-repeat:no-repeat;
    background-size: 50px 50px;
}

#saveIcon {
    background-image: url('./icons/save.png');
    background-repeat:no-repeat;
    background-size: 50px 50px;
}

.icon {
    width: 60px;
    height: 50px;
}