
#valNode {
    position: absolute;
    width: 70.71px;
    height: 70.71px;
    background: #FFF500;
    transform: rotate(-45deg);
}

#varNode {
    position: absolute;
    width: 70.71px;
    height: 70.71px;
    background: rgb(204, 112, 7);
    transform: rotate(-45deg);
}

#funNode {
    position: absolute;
    width: 70.71px;
    height: 70.71px;    
    background: rgb(19, 211, 195);
    transform: rotate(-45deg);
}

.node {
    width: 100px;
    height: 100px;
}

.info {
    width: 100px;
    height: 100px;
}
